name: .Net
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: windows-latest
    env:
      NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__MAILBOXID: ${{ secrets.NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__MAILBOXID }}
      NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__PASSWORD: ${{ secrets.NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__PASSWORD }}
      NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__KEY: ${{ secrets.NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__KEY }}
      NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__ROOTCERTIFICATE: ${{ secrets.NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__ROOTCERTIFICATE }}
      NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__INTERMEDIATECERTIFICATES: ${{ secrets.NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__INTERMEDIATECERTIFICATES }}
      NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__CLIENTCERTIFICATE: ${{ secrets.NEL_MESH_CLIENT_ACCEPTANCE_MESHCONFIGURATION__CLIENTCERTIFICATE }}
      NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__MAILBOXID: ${{ secrets.NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__MAILBOXID }}
      NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__PASSWORD: ${{ secrets.NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__PASSWORD }}
      NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__KEY: ${{ secrets.NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__KEY }}
      NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__ROOTCERTIFICATE: ${{ secrets.NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__ROOTCERTIFICATE }}
      NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__INTERMEDIATECERTIFICATES: ${{ secrets.NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__INTERMEDIATECERTIFICATES }}
      NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__CLIENTCERTIFICATE: ${{ secrets.NEL_MESH_CLIENT_INTEGRATION_MESHCONFIGURATION__CLIENTCERTIFICATE }}
    steps:
    - name: Check Out
      uses: actions/checkout@v2
    - name: Setup Dot Net Version
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.100
        include-prerelease: false
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal